/node_modules
/public/hot
/public/storage
/public/variants
/public/combo
/public/coupon
/public/couponbirds
/public/coursera
/public/master
/public/udx
/public/gg_index
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idead